<h1>Hi <%= @user.email %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Place number</th>
      <th>Cinema</th>
      <th>Session name</th>
      <th>Date</th>

    </tr>
  </thead>
  <tbody>
    <% @user.places.each do |place| %>
      <tr>
        <td><%= place.place_number %></td>
        <td><%= place.cinema.cinema_name %></td>
        <% p = place.film_session_id %>
        <% f = FilmSession.find(id = p) %>
        <td><%= f.session_name %></td>
        <td><%= place.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
