<div class="well bs-component comments">
  <h1 class="text-center">Hi <%= @user.login %></h1>
  <% if !@user.avatar_file_name %>
      <div class="row">
        <%= image_tag("http://agapoff.name/wp-content/uploads/2009/12/gravatar.jpg", class:"img-responsive img-circle avatar_img") %>
        <%= form_for @user do |form| %>
            <div class="col-md-8 col-md-offset-2 login_field" align="center">
              <%= form.text_field :login, class:"form-control", placeholder: "Enter your login" %>
            </div>
            <div class="clearfix"></div>
            <span class="btn btn-primary btn-file">
                Browse file <%= form.file_field :avatar %>
            </span>
            <div class="form-group">
              <div class="col-md-offset-5">
                 <%= form.submit "Update user avatar", class:"btn btn-raised btn-danger m20" %>
              </div>
            </div>
          </div>
        <% end %>

    </div>
    <div class="clearfix"></div>

  <% else %>
      <%= image_tag @user.avatar.url(:medium), class:"img-responsive img-circle avatar_img" %>
        <%= form_for @user do |form| %>
            <div class="col-md-8 col-md-offset-2 login_field" align="center">
              <%= form.text_field :login, class:"form-control", placeholder: "Enter your login" %>
            </div>
            <div class="clearfix"></div>
            <span class="btn btn-primary btn-file">
                Browse file <%= form.file_field :avatar %>
            </span>
            <div class="form-group">
              <div class="col-md-offset-5">
                 <%= form.submit "Update user profile", class:"btn btn-raised btn-danger m20" %>
              </div>
            </div>
          </div>
          <br />
        <% end %>
      </div>
  <% end %>


<div class="well bs-component comments">
  <h2 class="text-center">This is your booked places</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Place number</th>
        <th>Cinema</th>
        <th>Session name</th>
        <th>Place</th>
        <th>Session date</th>
        <th>Session time</th>
        <th>Payment status</th>
      </tr>
    </thead>
    <tbody>
      <% @user.places.each do |place| %>
        <tr>
          <td><%= place.place_number %></td>
          <td><%= place.cinema_cinema_name %></td>
          <td><%= find_session_name_for_user_place(place) %></td>
          <td><%= place.place_number %></td>
          <td><%= place.session_date %></td>
          <td><%= place.session_time %></td>
          <td><%= place.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
