<%= form_for(session_time) do |f| %>
  <% if session_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session_time.errors.count, "error") %> prohibited this session_time from being saved:</h2>

      <ul>
      <% session_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Session time</label>
    <div class="col-md-10">
      <%= f.text_field :session_time, class:"form-control" %>
   </div>
 </div>


  <div class="form-group">
   <div class="col-md-10 col-md-offset-2">
     <%= link_to 'Back', root_path, class:"btn btn-raised btn-default" %>
     <%= f.submit class:"btn btn-raised btn-primary m20" %>
    </div>
  </div>
<% end %>

