<p id="notice"><%= notice %></p>

<h1>Listing Session Times</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_times.each do |session_time| %>
      <tr>
        <td><%= session_time.session_time %></td>
        <td><%= link_to 'Show', session_time %></td>
        <td><%= link_to 'Edit', edit_session_time_path(session_time) %></td>
        <td><%= link_to 'Destroy', session_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session time', new_session_time_path %>
