<%= form_for @film_session, validate: true do |f| %>
  <% if @film_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film_session.errors.count, "error") %> prohibited this film_session from being saved:</h2>

      <ul>
      <% @film_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="control-group">
    <%= f.label :cinema_id, class:"col-md-2 control-group" %>
    <div class="controls">
      <%= collection_select( :film_session, :cinema_id, Cinema.all, :id, :cinema_name, {}, { :multiple => false } ) %>
    </div>
  </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Session name</label>
    <div class="col-md-10">
      <%= f.text_field :session_name, class:"form-control" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Session start date</label>
    <div class="col-md-10">
      <%= f.text_field :session_start_date, class:"form-control datepicker" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Session end date</label>
    <div class="col-md-10">
      <%= f.text_field :session_end_date, class:"form-control datepicker" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Price</label>
    <div class="col-md-10">
      <%= f.number_field :price, class:"form-control" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Number of session place</label>
    <div class="col-md-10">
      <%= f.number_field :number_of_session_place, class:"form-control" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
      <%= f.text_area :description, class:"form-control" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Trailer link</label>
    <div class="col-md-10">
      <%= f.text_field :trailer_link, class:"form-control" %>
   </div>
 </div>

 <div class="form-group is-empty">
    <label class="col-md-2 control-label">Rating</label>
    <div class="col-md-10">
      <%= f.number_field :rating, class:"form-control" %>
   </div>
 </div>

    <div class="form-group is-empty is-fileinput">
      <label class="col-md-2 control-label">Poster</label>
       <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Browse...">
        <%= f.file_field :film_sessions_poster %>
      </div>
    <span class="material-input"></span></div>


  <div class="field">
    <div class="row">
      <div class="col-sm-offset-0 col-sm-8">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cd| %>
          <%= cd.label(class: "checkbox-inline input_checkbox") { cd.check_box(class: "checkbox") + cd.text } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-sm-offset-0 col-sm-8">
        <%= f.collection_check_boxes :session_time_ids, SessionTime.all, :id, :session_time do |cd| %>
          <%= cd.label(class: "checkbox-inline input_checkbox") { cd.check_box(class: "checkbox") + cd.text } %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="form-group">
   <div class="col-md-10 col-md-offset-2">
     <%= link_to 'Back', film_sessions_path, class:"btn btn-raised btn-default" %>
     <%= f.submit class:"btn btn-raised btn-primary m20" %>
    </div>
  </div>

<% end %>

