<% if @array_of_places.present? %>
	<% @array_of_places.each do |i| %>
		<div class="col-md-6 booking_blocks" id="<%= i %>">
		<button class="close" id="close" value="<%= i %>">×</button>
		<%= form_for(@place) do |f| %>
		  <% if @place.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
		      <ul>
		      <% @place.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		   <div class="field">
		  	<%= f.hidden_field :cinema_id, :value => @film_session.cinema_id %>
		   </div>
		  	<%= f.hidden_field :film_session_id, :value => @film_session.id %>
		  	<%= f.hidden_field :place_number, :value => i %>
		  	<%= f.hidden_field :session_start_date, :value => @film_session.session_start_date %>
		  	<%= f.hidden_field :session_time, :value => @session_time %>
		  	<%= f.hidden_field :session_date, :value => @session_day %>


		  	<div class="field">
		  	  <%= f.label :session_name %><br>
		  	  <p><%= @film_session.session_name %></p>
		  	</div>
		  	<div class="field">
		  	  <%= f.label :session_start_date %><br>
		  	  <p><%= @film_session.session_start_date %></p>
		  	</div>
		  	<div class="field">
		  	  <%= f.label :place_number %><br>
		  	  <p><%= i %></p>
		  	</div>
		  	<div class="field">
		  	  <%= f.label :status %><br>
		  	  <%= f.check_box :status, class:"form form-control" %>
		  	</div>
		  	<br/>
		  <br/>
		<% end %>
		</div>
	<% end %>
	<div class="actions">
	    <%= submit_tag "Booking", :class => "btn btn-primary" %>
	</div>
<% end %>
