<p id="notice"><%= notice %></p>

<h1>Listing Film Sessions</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Cinema</th>
      <th>Session name</th>
      <th>Number of session place</th>
      <th>Session start date</th>
      <th>Session end date</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @film_sessions.each do |film_session| %>
      <tr>
        <td><p> <%= film_session.cinema_id %></p></td>
        <td><p> <%= film_session.session_name %></p></td>
        <td><p> <%= film_session.number_of_session_place %></p></td>
        <td><p> <%= film_session.session_start_date %></p></td>
        <td><p> <%= film_session.session_end_date %></p></td>
        <td><p> <%= film_session.rating %></p></td>
        <% if film_session.categories.any? %>
          <td><%= render film_session.categories %></td>
        <% end %>
        <% if user_signed_in? and current_user.admin? %>
          <td><%= link_to 'Edit', edit_film_session_path(film_session), class: "btn btn-raised btn-primary" %></td>
          <td><%= link_to 'Destroy', film_session, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-raised btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? and current_user.admin? %>
<%= link_to 'New Film session', new_film_session_path,class: "btn btn-primary btn-lg"  %>
<% end %>


