<p id="notice"><%= notice %></p>
<%= image_tag @film_session.film_sessions_poster.url(:medium) %>

<h1>Session time: <%= @session_time %></h1> <br />
<h1>Session day: <%= @session_day%></h1>

	<p>
	  <strong>Cinema:</strong>
	  <%= @film_session.cinema.cinema_name %>
	</p>

	<p>
	  <strong>Session name:</strong>
	  <%= @film_session.session_name %>
	</p>

	<p>
	  <strong>Price:</strong>
	  <%= number_to_currency(@film_session.price, :unit => "UAH ")  %>
	</p>

	<p>
	  <strong>Number of session place:</strong>
	  <%= @film_session.number_of_session_place %>
	</p>
		<p>
	 <strong>Rating:</strong>
	  <%= @film_session.rating %>
	</p>
		<p>
	  <strong>Description:</strong>
	  <%= @film_session.description %>
	</p>
	<br>
	<p>
	  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @film_session.trailer_link %>" frameborder="0" allowfullscreen></iframe> -->
	</p>
	<% if @film_session.categories.any? %>
		<p>Categories: <%= render @film_session.categories %></p>
	<% end %>
	<br>
	<% n = 0 %>
	<div class="places_block">
	<div class="test_hide hide">
		<a href="#data2" class="btn btn-primary group2" id="main-booking-btn group2" >Забронировать</a> <br />
	</div>
		<% @film_session.number_of_session_place.times do |session| %>
			 <% n = n + 1 %>
			 <% if @test.index(n) != nil %>
			 	<div class="btn btn-danger place_block" id="place_<%= n %>">
		 			<p><%= @film_session.cinema.cinema_name %></p>
					<p><%= @film_session.session_name %></p>
					<p>Місце № <%= n %></p>
					<div class="hidden-block hide">
						<p>Booked!</p>
					</div>
			 	</div>
			 <% else %>


			 	<div class="btn btn-primary place_block" id="place_<%= n %>" style="">
		 			<p><%= @film_session.cinema.cinema_name %></p>
					<p><%= @film_session.session_name %></p>
					<p>Place № <%= n %></p>
					<% if user_signed_in? %>
					<div class="hidden-block">
						<a id="group" href="#data_<%= n %>">Booking</a>
					</div>
					<% end %>
					<div class="hidden">
						<div id="data_<%= n %>" class="<%= n %>">

							<%= form_for(@place) do |f| %>
							  <% if @place.errors.any? %>
							    <div id="error_explanation">
							      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
							      <ul>
							      <% @place.errors.full_messages.each do |message| %>
							        <li><%= message %></li>
							      <% end %>
							      </ul>
							    </div>
							  <% end %>

							  <div class="field">
							 	<%= f.hidden_field :cinema_id, :value => @film_session.cinema_id %>

							  </div>
							 	<%= f.hidden_field :film_session_id, :value => @film_session.id %>
							 	<%= f.hidden_field :place_number, :value => n %>
							 	<%= f.hidden_field :session_start_date, :value => @film_session.session_start_date %>
							 	<%= f.hidden_field :session_time, :value => @session_time %>
							 	<%= f.hidden_field :session_date, :value => @session_day %>

							  <div class="field">
							    <%= f.label :session_name %><br>
							    <p><%= @film_session.session_name %></p>
							  </div>
							  <div class="field">
							    <%= f.label :session_start_date %><br>
							    <p><%= @film_session.session_start_date %></p>
							  </div>
							  <div class="field">
							    <%= f.label :place_number %><br>
							    <p><%= n %></p>
							  </div>
							  <div class="field">
							    <%= f.label :status %><br>
							    <%= f.check_box :status, class:"form form-control" %>
							  </div>
							  <br/>
							  <div class="actions">
							    <%= f.submit "Booking", :class => "btn btn-primary" %>
							  </div>

							<% end %>
						</div>
					</div>
			 	</div>
			 <%end%>
		<% end %>
		<div class="hidden">
			<div id="data2">
				<% if @array_of_places.present? %>
					<% @array_of_places.each do %>
						<%= @array_of_places %>
					<% end %>
				<% end %>
			</div>
		</div>

	</div>


	<div class="navi-btns">
		<%= link_to 'Edit', edit_film_session_path(@film_session), class:"btn btn-warning btn-lg" %>
		<%= link_to 'Back', film_sessions_path, class:"btn btn-danger btn-lg" %>
	</div>

