  <%= f.hidden_field :cinema_id, :value => film_session.cinema_id %>
  <%= f.hidden_field :film_session_id, :value => film_session.id %>
  <%= f.hidden_field :place_number, :value => n %>
  <%= f.hidden_field :session_start_date, :value => film_session.session_start_date %>
  <%= f.hidden_field :session_time, :value => @session_time %>
  <%= f.hidden_field :session_date, :value => @session_day %>

<div class="col-md-6">
  <div class="field">
    <%= f.label :session_name %><br>
    <p><%= film_session.session_name %></p>
  </div>

  <div class="field">
    <%= f.label "Cinema name" %><br>
    <p><%= film_session.cinema_cinema_name %></p>
  </div>

  <div class="field">
    <%= f.label :session_start_date %><br>
    <p><%= @session_day %></p>
  </div>
</div>

<div class="col-md-6">
  <div class="field">
    <%= f.label :session_start_date %><br>
    <p><%= @session_time   %></p>
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <p><%= film_session.price.to_i  %> UAH </p>
  </div>


  <div class="field">
    <%= f.label :place_number %><br>
    <p>№ <%= n %></p>
  </div>
</div>


<div class="clearfix"></div>


