<h1>Calendar</h1>
<div id="film_sessions">
  <h2 id="month">
    <%= link_to "<", session_start_date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", session_start_date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @film_sessions %>
      <ul>
        <% @film_sessions.each do |film_session| %>
          <% if film_session.session_start_date == date.to_s || ( film_session.session_start_date < date.to_s and date.to_s <= film_session.session_end_date ) %>
            <% if date.to_s > Date.today.to_s %>
              <li>
                  <p><%= film_session.session_name %></p>
                  <ul>
                    <% film_session.film_session_session_times.each do |time| %>
                      <% @time_id = time.session_time_id %>
                      <% session_time = SessionTime.find(id = @time_id).session_time  %>
                      <li><%= link_to session_time, film_session_path(:session_time=>session_time,:day=>date, :id=>film_session.id) %></li>
                    <% end %>
                  </ul>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>





