<h1>Calendar</h1>
<div id="film_sessions">
  <h2 id="month">
    <%= link_to "<", session_start_date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", session_start_date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @film_sessions %>
      <ul>
        <% @film_sessions.each do |film_session| %>
          <% if film_session.session_start_date == date.to_s || ( film_session.session_start_date < date.to_s and date.to_s <= film_session.session_end_date ) %>
            <li>
              <%= film_session.session_name %>
              <ul>
                <% film_session.film_session_session_times.each do |time| %>
                  <% @time_id = time.session_time_id %>
                  <% session_time = SessionTime.find(id = @time_id).session_time  %>
                  <li><%= link_to session_time, "/film_sessions/#{film_session.id}?session_time=#{session_time}&day=#{date}" %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>




