  <%= form_for news, validate: true, :html => {:class => 'form-horizontal'}  do |f| %>
    <% if news.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

        <ul>
        <% news.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group is-empty">
      <label class="col-md-2 control-label">Title</label>
      <div class="col-md-10">
        <%= f.text_field :title, class:"form-control" %>
     </div>
   </div>
       <div class="form-group is-empty">
      <label class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <%= f.text_field :description, class:"form-control" %>
     </div>
   </div>

    <div class="form-group is-empty is-fileinput">
      <label class="col-md-2 control-label">File</label>
       <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Browse...">
        <%= f.file_field :news_poster %>
      </div>
    <span class="material-input"></span></div>

    <div class="form-group">
       <div class="col-md-10 col-md-offset-2">
         <%= link_to 'Back', news_index_path, class:"btn btn-raised btn-default" %>
         <%= f.submit class:"btn btn-raised btn-primary m20" %>
      </div>
    </div>
<% end %>

