<p id="notice"><%= notice %></p>

<h1>Listing News</h1>

<% @news.each do |news| %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <%= image_tag news.news_poster.url(:medium) %>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4><%= news.title %></h4>
        <%= news.description %>
      </div>
      <div class="mdl-card__actions">
        <%= link_to "read more", news_path(news), class:"btn btn-raised btn-warning" %>
      </div>
    </div>
  </section>
  <div class="mt20"></div>
<% end %>

<br>

<%= link_to 'New News', new_news_path, class: "btn btn-raised btn-primary"  %>


