<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group is-empty">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <%= f.text_field :name, class:"form-control" %>
     </div>
   </div>

    <div class="form-group">
       <div class="col-md-10 col-md-offset-2">
         <%= link_to 'Back', cinemas_path, class:"btn btn-raised btn-default" %>
         <%= f.submit class:"btn btn-raised btn-primary m20" %>
      </div>
    </div>
<% end %>
