<div class="container">
  <div class="row">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Category: <%= @category.name %></h1>

  <% @category_film_sessions.each do |session| %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <%= image_tag session.film_sessions_poster.url(:medium) %>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4><%= session.session_name %></h4>
        <%= session.description %>
      </div>
      <div class="mdl-card__actions">
        <%= link_to "Book Place", calendar_path, class:"btn btn-raised btn-warning" %>
      </div>
    </div>
  </section>
  <div class="mt20"></div>
  <% end %>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>

  </div>
</div>



