<%= form_for cinema, validate: true do |f| %>
  <% if cinema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cinema.errors.count, "error") %> prohibited this cinema from being saved:</h2>
      <ul>
      <% cinema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group is-empty">
      <label class="col-md-2 control-label">Cinema name</label>
      <div class="col-md-10">
        <%= f.text_field :cinema_name, class:"form-control" %>
     </div>
   </div>
    <div class="form-group is-empty">
      <label class="col-md-2 control-label">Address</label>
      <div class="col-md-10">
        <%= f.text_field :cinema_addr, class:"form-control" %>
     </div>
   </div>

    <div class="form-group">
       <div class="col-md-10 col-md-offset-2">
         <%= link_to 'Back', cinemas_path, class:"btn btn-raised btn-default" %>
         <%= f.submit class:"btn btn-raised btn-primary m20" %>
      </div>
    </div>

<% end %>



