<p id="notice"><%= notice %></p>

<h1>Listing Cinemas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cinema name</th>
      <th>Cinema addr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.cinema_name %></td>
        <td><%= cinema.cinema_addr %></td>
        <td><%= link_to 'Show', cinema %></td>
        <td><%= link_to 'Edit', edit_cinema_path(cinema) %></td>
        <td><%= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cinema', new_cinema_path %>
