<%= form_for @place, validate: true do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cinema_id %><br>
    <%= f.number_field :cinema_id %>
  </div>
  <div class="field">
    <%= f.label :film_session_id %><br>
    <%= f.number_field :film_session_id %>
  </div>
    <div class="field">
    <%= f.label :place_number %><br>
    <%= f.number_field :place_number %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


