<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cinema</th>
      <th>film session name</th>
      <th>film session date</th>
      <th>film session time</th>
      <th>Place number</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.cinema_id %></td>
        <td><%= find_session_name_for_user_place(place) %></td>
        <td><%= place.session_date  %></td>
        <td><%= place.session_time %></td>
        <td><%= place.place_number %></td>
        <td><%= place.status %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
